{{ define "main" }}
<div class="sidebar">

    <div class="logo-title">
        <div class="title">
            <img src="{{ .Site.Params.profilePicture | absURL }}" alt="profile picture">
            <h3>Hello world! I'm <span style="color: #fff; background:#DC143C; padding: 4px;">LIWEN LAI</span></h3>
            <span id=mylife>I'm a <span style="color: #fff; background:#4ec7f3; padding: 2px;">software engineer</span> working in financial market. 
            I'm passionate about leveraging technology to reduce tedious work and improve efficiency.</span><br/>
            <span id=mylife style="color: #fff; background:#42c58a; padding: 2px;">I love &#9749; &#129360; &#127863; I play 🂡 🏋️ 🏊 📚</span>
            <p id=mylife>My 2021 
                <span style="color: #DC143C;">study goals</span> & 
                <span style="color: #4ec7f3;;">reading list</span></p>
            <!-- <div class="description">
                {{ .Site.Params.description }}
            </div> -->
        </div>
    </div>   
    <div id=intro>
        Make 
        <div id=flip>
        <div><div>wOrK</div></div>
        <div><div>life</div></div>
        <div><div>Everything</div></div>
        </div>
        AweSoMe!
    </div>
    <ul class="social-links">
        {{ range $item := .Site.Params.socialIcons }}
            <li>
                <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}">
                    <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        {{ end }}
    </ul>
    <div class="footer">
        <div class="by_farbox">&copy; {{ .Site.Params.author }} {{ if isset .Site.Params "copyright" }} {{ .Site.Params.copyright }} {{ else }} {{ now.Format "2006"}} {{end}}</div>
    </div>
</div>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
}

.title {
  padding: 0 15px;
}

#mylife {
  font-size: 20px;
  padding: 0 30px;
}

#intro {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  width:100%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

@media screen and (max-width: 960px),
print {
  #intro {
    font-size: 25px;
  }

  #mylife {
    font-size: 16px;
    padding: 0 20px;
  }

  #flip {
    height: 38px;
  }
}

</style> 
{{ end }}


